In [62]:
import pandas as pd
import numpy as np
import json
import requests

In [63]:
print('\n\n\n=======================\nALGORITHMIC TRADING BOT\
    \nTEST ENVIRONMENT\n=======================\n\n\n')

balance = 10000
print(f'Starting Balance: ${balance}')

print('\nAlgorithm Rules:\nTrade Size = 5% of balance.\nTP/SL = 1 ATR\nDaily Profit Target = 2% Profit')

=======================
ALGORITHMIC TRADING BOT
TEST ENVIRONMENT
=======================



Starting Balance: $10000

Algorithm Rules:
Trade Size = 5% of balance.
TP/SL = 1 ATR
Daily Profit Target = 2% Profit

In [64]:
# import datetime
starting_time = 1669852800000
limit = 1000
timeframe = 60 #in minutes

def convert_minutes_to_milliseconds(minutes):
    milliseconds = 60000 * minutes
    return milliseconds


url1 = f'https://api.binance.com/api/v3/klines?symbol=ETHUSDT&interval=1h&limit={limit}&endTime={starting_time}'
url2 = f'https://api.binance.com/api/v3/klines?symbol=ETHUSDT&interval=1h&limit={limit}&endTime={starting_time - limit*(convert_minutes_to_milliseconds(timeframe))}'

urls = [url1, url2]

In [65]:
def get_bars(symbol):
    df = pd.DataFrame()
    for i in urls:
        data = json.loads(requests.get(i).text)
        print(i)
        for row in data:
            del row[5:]
        df = df.append(data)
    df.columns = ['date',
                'open', 'high', 'low', 'close']
    return df

eth_df_raw = get_bars('ETHUSDT')
eth_df_raw = eth_df_raw.sort_values(by='date')

https://api.binance.com/api/v3/klines?symbol=ETHUSDT&interval=1h&limit=1000&endTime=1669852800000

/var/folders/2l/h2r8kh1x2jx7lbwdk0x41gp80000gn/T/ipykernel_88430/3063555294.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

https://api.binance.com/api/v3/klines?symbol=ETHUSDT&interval=1h&limit=1000&endTime=1666252800000

In [66]:
%%script echo skipping

eth_df_raw['open'] = pd.to_numeric(eth_df_raw['open'])
eth_df_raw['high'] = pd.to_numeric(eth_df_raw['high'])
eth_df_raw['low'] = pd.to_numeric(eth_df_raw['low'])
eth_df_raw['close'] = pd.to_numeric(eth_df_raw['close'])
eth_df_raw['date'] = pd.to_datetime(eth_df_raw['date'], unit = 'ms')

skipping

In [67]:
%%script echo skipping
eth_df_raw

skipping

In [68]:
def test_logic(df):
    df['open'] = pd.to_numeric(df['open'])
    df['high'] = pd.to_numeric(df['high'])
    df['low'] = pd.to_numeric(df['low'])
    df['close'] = pd.to_numeric(df['close'])
    df['date'] = pd.to_datetime(df['date'], unit = 'ms')


    short_ema = df['close'].ewm(span = 12, adjust = False).mean()
    long_ema = df['close'].ewm(span = 26, adjust = False).mean()
    ema_200 = df['close'].ewm(span = 200, adjust = False).mean()

    macd = short_ema - long_ema
    signal = macd.ewm(span = 9, adjust = False).mean()

    df['macd'] = macd
    df['signal'] = signal
    df['200_ema'] = ema_200

    df['TR1'] = abs(df['high'] - df['low'])
    df['TR2'] = abs(df['low'] - df['close'].shift())
    df['TR3'] = abs(df['high'] - df['close'].shift())

    df['ATR'] = df.apply(lambda x: row_check(x.TR1, x.TR2, x.TR3), axis=1)

    df = df.iloc[200:]

    df = df.drop(['TR1', 'TR2', 'TR3'], axis=1)

    df['trigger_long'] = np.where(((df['macd'] > df['signal']) & (df['close'] > df['200_ema']) & (df['macd'] < 0) & (df['signal'] > df['macd'].shift())), 1, 0)

    df['trigger_short'] = np.where(((df['signal'] > df['macd']) & (df['close'] < df['200_ema']) & (df['macd'] > 0) & (df['signal'] < df['macd'].shift())), 1, 0)


    return df

def row_check(TR1, TR2, TR3):
    if TR1 >= TR2 and TR1 >= TR3:
        ATR = TR1
    elif TR2 >= TR1 and TR2 >= TR3:
        ATR = TR2
    else:
        ATR = TR3
    
    return ATR

In [69]:
eth_cleaned = test_logic(eth_df_raw)

In [70]:
eth_cleaned

,date,open,high,low,close,macd,signal,200_ema,ATR,trigger_long,trigger_short
200,2022-09-17 01:00:00,1443.05,1448.41,1438.38,1445.64,-17.207603,-21.662962,1600.555756,10.03,0,0
201,2022-09-17 02:00:00,1445.63,1446.23,1436.77,1439.71,-16.057287,-20.541827,1598.955301,9.46,0,0
202,2022-09-17 03:00:00,1439.72,1442.38,1436.72,1440.57,-14.904450,-19.414352,1597.379328,5.66,0,0
203,2022-09-17 04:00:00,1440.57,1447.92,1439.23,1440.87,-13.807447,-18.292971,1595.822021,8.69,0,0
204,2022-09-17 05:00:00,1440.87,1440.88,1425.09,1432.06,-13.493413,-17.333059,1594.192548,15.79,0,0
...,...,...,...,...,...,...,...,...,...,...,...
995,2022-11-30 20:00:00,1287.20,1295.76,1285.00,1295.29,14.258507,13.990074,1209.811179,10.76,0,0
996,2022-11-30 21:00:00,1295.29,1299.00,1287.73,1297.07,15.059045,14.203868,1210.679426,11.27,0,0
997,2022-11-30 22:00:00,1297.07,1309.77,1292.24,1298.91,15.661413,14.495377,1211.557342,17.53,0,0
998,2022-11-30 23:00:00,1298.90,1306.51,1290.84,1294.46,15.599892,14.716280,1212.382244,15.67,0,0
999,2022-12-01 00:00:00,1294.46,1295.88,1286.21,1290.21,15.034883,14.780001,1213.156650,9.67,0,0

In [71]:
eth_cleaned.loc[eth_cleaned['trigger_short'] == 1]

,date,open,high,low,close,macd,signal,200_ema,ATR,trigger_long,trigger_short
230,2022-09-18 07:00:00,1454.37,1457.49,1452.56,1453.45,1.687028,1.807193,1561.014153,4.93,0,1
280,2022-09-20 09:00:00,1357.50,1359.61,1345.14,1352.57,1.651947,1.718058,1480.308063,14.47,0,1
282,2022-09-20 11:00:00,1360.27,1365.27,1353.35,1356.26,1.457044,1.668190,1477.891131,11.92,0,1
288,2022-09-20 17:00:00,1367.31,1368.99,1332.29,1335.43,0.211579,1.110978,1470.766888,36.70,0,1
352,2022-09-23 09:00:00,1317.51,1322.97,1303.80,1312.98,7.953044,8.617565,1396.281396,19.17,0,1
353,2022-09-23 10:00:00,1312.97,1316.07,1290.00,1294.80,4.951073,7.884266,1395.271630,26.07,0,1
388,2022-09-24 21:00:00,1341.99,1342.39,1319.42,1322.96,5.875134,6.800464,1373.258424,22.97,0,1
494,2022-09-29 07:00:00,1328.58,1330.53,1313.55,1322.00,3.277441,4.256251,1342.753992,16.98,0,1
514,2022-09-30 03:00:00,1326.38,1329.61,1320.12,1327.49,0.940613,1.206934,1340.366832,9.49,0,1
523,2022-09-30 12:00:00,1330.79,1343.50,1313.35,1327.48,1.451912,1.875953,1339.931016,30.15,0,1
531,2022-09-30 20:00:00,1337.54,1344.98,1328.02,1331.73,2.806225,3.513197,1340.325289,16.96,0,1
756,2022-10-10 05:00:00,1324.64,1325.00,1316.07,1317.94,0.426666,0.591681,1332.607197,8.93,0,1
821,2022-10-12 22:00:00,1299.87,1302.34,1294.19,1294.51,1.961529,2.055087,1313.697052,8.15,0,1
44,2022-10-22 05:00:00,1297.25,1297.78,1294.98,1296.53,2.751421,2.813606,1299.221184,2.80,0,1
521,2022-11-11 02:00:00,1262.74,1271.95,1242.35,1252.32,17.391340,19.821884,1425.026188,29.60,0,1
546,2022-11-12 03:00:00,1276.73,1279.26,1254.00,1259.34,1.767651,2.732524,1390.591897,25.26,0,1
610,2022-11-14 19:00:00,1243.02,1243.73,1210.03,1216.27,1.247666,2.433503,1320.819094,33.70,0,1
633,2022-11-15 18:00:00,1267.08,1267.85,1234.01,1243.56,5.244982,6.998291,1307.485937,33.84,0,1
702,2022-11-18 15:00:00,1214.47,1214.95,1206.00,1211.13,1.430842,1.686479,1262.483293,8.95,0,1
743,2022-11-20 08:00:00,1220.38,1220.65,1203.94,1208.15,1.810525,2.138356,1245.449673,16.71,0,1
820,2022-11-23 13:00:00,1164.79,1168.97,1155.63,1157.36,12.357613,12.496936,1185.858525,13.34,0,1

In [72]:
eth_cleaned.loc[eth_cleaned['trigger_long'] == 1]

,date,open,high,low,close,macd,signal,200_ema,ATR,trigger_long,trigger_short
649,2022-10-05 18:00:00,1348.51,1357.39,1342.96,1357.39,-0.166418,-0.478901,1331.309333,14.43,1,0
689,2022-10-07 10:00:00,1357.02,1357.30,1353.09,1356.59,-0.933010,-0.954220,1340.643121,4.21,1,0
196,2022-10-28 13:00:00,1511.46,1549.94,1509.32,1540.18,-6.358376,-8.290087,1424.038777,40.62,1,0
260,2022-10-31 05:00:00,1589.44,1596.21,1587.50,1589.16,-5.465328,-5.504537,1505.573210,8.71,1,0
261,2022-10-31 06:00:00,1589.17,1592.16,1578.41,1586.85,-5.073418,-5.418313,1506.381934,13.75,1,0
264,2022-10-31 09:00:00,1582.62,1623.00,1579.45,1620.76,-1.407182,-4.324659,1509.098021,43.55,1,0
280,2022-11-01 01:00:00,1570.11,1584.37,1569.68,1581.18,-6.254078,-6.990389,1518.964857,14.69,1,0
303,2022-11-02 00:00:00,1578.47,1592.44,1572.09,1587.54,-1.390156,-1.513235,1532.473857,20.35,1,0
304,2022-11-02 01:00:00,1587.55,1591.06,1585.33,1586.01,-0.839046,-1.378397,1533.006555,5.73,1,0
329,2022-11-03 02:00:00,1543.19,1549.99,1542.08,1543.59,-11.855933,-11.923407,1537.567148,7.91,1,0
330,2022-11-03 03:00:00,1543.59,1556.19,1543.58,1547.35,-10.277802,-11.594286,1537.664489,12.61,1,0
341,2022-11-03 14:00:00,1525.60,1556.00,1525.09,1551.79,-4.829084,-5.889084,1538.231908,30.91,1,0
351,2022-11-04 00:00:00,1531.01,1540.58,1528.40,1538.61,-3.259504,-3.320251,1538.432125,12.18,1,0
409,2022-11-06 10:00:00,1628.23,1630.93,1626.18,1628.83,-1.375674,-1.497064,1576.362681,4.75,1,0
413,2022-11-06 14:00:00,1621.53,1631.59,1618.06,1626.42,-1.717403,-1.734159,1578.140076,13.53,1,0
414,2022-11-06 15:00:00,1626.43,1634.96,1623.71,1623.77,-1.601810,-1.707689,1578.594105,11.25,1,0
435,2022-11-07 12:00:00,1579.99,1585.02,1576.48,1584.51,-11.026057,-11.943839,1580.297825,8.54,1,0
869,2022-11-25 14:00:00,1190.01,1193.74,1181.09,1193.15,-0.265850,-0.635198,1187.321586,12.65,1,0

In [73]:
in_long = False
in_short = False

tp1 = 0
tp2 = 0

tp1_hit = False

trades = 0

for index,row in eth_cleaned.iterrows():

    if in_long == False and in_short == False:

        if row['trigger_long'] == 1:

            print('LONG')

            atr = round(row['ATR'],2)
            entry = round(row['close'],2)
            stop_loss = round(entry - (1*atr),2)
            tp1 = round(entry + atr,2)
            tp2 = round(entry + 2*atr,2)

            balance_split = balance*0.05
            amount_bought = (balance_split)/entry
            balance -= balance_split

            in_long = True

            print(f'ATR: ${atr}\nEntry: ${entry}\nStop Loss: ${stop_loss}\nTP1: ${tp1}\nTP2: ${tp2}\nQuantity: {amount_bought} ETH\n\nNew Balance: ${balance}\n\n')

            trades += 1


        elif row['trigger_short'] == 1:

            print('SHORT')

            atr = round(row['ATR'],2)
            entry = round(row['close'],2)
            stop_loss = round(entry + (1*atr),2)
            tp1 = round(entry - atr,2)
            tp2 = round(entry - 2*atr,2)

            balance_split = balance*0.05
            amount_bought = (balance_split)/entry
            balance -= balance_split

            in_short = True

            print(f'ATR: ${atr}\nEntry Price: ${entry}\nStop Loss: ${stop_loss}\nTP1: ${tp1}\nTP2: ${tp2}\nQuantity: {amount_bought} ETH\n\nNew Balance: ${balance}\n\n')

            trades += 1


        else:

            continue
    
    elif in_long == True:

        if row['low'] <= stop_loss:

            print('LOSING TRADE')
            print(f'Old Balance: ${balance}')
            balance += amount_bought*stop_loss
            print(f'New Balance: ${balance}\n\n')

            tp1_hit = False
            in_long = False

        elif tp1_hit == True and row['high'] >= tp2:

            print('WINNING TRADE')
            print(f'Old Balance: ${balance}')
            balance += amount_bought * tp2
            print(f'New Balance: ${balance}\n\n')

            tp1_hit = False
            in_long = False
        
        elif tp1_hit == False and row['high'] >= tp1 and row['high'] < tp2:

            print('WINNING TRADE')
            print(f'Old Balance: ${balance}')
            amount_bought = amount_bought/2
            balance += amount_bought * tp1
            print(f'New Balance: ${balance}\n\n')

            tp1_hit = True

        elif tp1_hit == False and row['high'] >= tp2:

            print('WINNING TRADE')
            print(f'Old Balance: ${balance}')
            amount_bought = amount_bought/2
            balance += (amount_bought * tp1) + (amount_bought * tp2)
            print(f'New Balance: ${balance}\n\n')

            tp1_hit = False
            in_long = False
        
        else:
            
            continue

    else:

        if row['high'] >= stop_loss:

            print('LOSING TRADE')

            print(f'Old Balance: ${balance}')
            balance += (entry*amount_bought)+((entry*amount_bought)-(amount_bought*stop_loss))
            print(f'New Balance: ${balance}\n\n')

            tp1_hit = False
            in_short = False

        elif row['low'] <= tp2 and tp1_hit == False:

            print('WINNING TRADE')

            print(f'Old Balance: ${balance}')
            amount_bought = amount_bought/2
            balance += (amount_bought * tp1) + (amount_bought * tp2)
            balance += (entry*amount_bought)+((entry*amount_bought)-(amount_bought*tp1))+((entry*amount_bought)-(amount_bought*tp2))
            print(f'New Balance: ${balance}\n\n')

            tp1_hit = False
            in_short = False

        elif row['low'] <= tp2 and tp1_hit == True:

            print('WINNING TRADE')

            print(f'Old Balance: ${balance}')
            balance += (entry*amount_bought)+((entry*amount_bought)-(amount_bought*tp2))
            print(f'New Balance: ${balance}\n\n')

            tp1_hit = False
            in_short = False

        elif tp1_hit == False and row['low'] <= tp1 and row ['low'] > tp2:

            print('WINNING TRADE')

            print(f'Old Balance: ${balance}')
            amount_bought = amount_bought/2
            balance += (entry*amount_bought)+((entry*amount_bought)-(amount_bought*tp1))
            print(f'New Balance: ${balance}\n\n')

            tp1_hit = True
        
        else:

            continue

        
print(f'Number Of Trades Executed: {trades}')

SHORT
ATR: $4.93
Entry Price: $1453.45
Stop Loss: $1458.38
TP1: $1448.52
TP2: $1443.59
Quantity: 0.34400908183976053 ETH

New Balance: $9500.0


LOSING TRADE
Old Balance: $9500.0
New Balance: $9998.30403522653


SHORT
ATR: $14.47
Entry Price: $1352.57
Stop Loss: $1367.04
TP1: $1338.1
TP2: $1323.63
Quantity: 0.36960394046986594 ETH

New Balance: $9498.388833465204


WINNING TRADE
Old Balance: $9498.388833465204
New Balance: $9751.020518855166


LOSING TRADE
Old Balance: $9751.020518855166
New Balance: $9998.30403522653


SHORT
ATR: $36.7
Entry Price: $1335.43
Stop Loss: $1372.13
TP1: $1298.73
TP2: $1262.03
Quantity: 0.37434773950063016 ETH

New Balance: $9498.388833465204


LOSING TRADE
Old Balance: $9498.388833465204
New Balance: $9984.565473186856


SHORT
ATR: $19.17
Entry Price: $1312.98
Stop Loss: $1332.15
TP1: $1293.81
TP2: $1274.64
Quantity: 0.3802253451380393 ETH

New Balance: $9485.337199527514


WINNING TRADE
Old Balance: $9485.337199527514
New Balance: $9738.595796290334


WINNING TRADE
Old Balance: $9738.595796290334
New Balance: $9995.498852986302


SHORT
ATR: $22.97
Entry Price: $1322.96
Stop Loss: $1345.93
TP1: $1299.99
TP2: $1277.02
Quantity: 0.37777025960672667 ETH

New Balance: $9495.723910336987


WINNING TRADE
Old Balance: $9495.723910336987
New Balance: $9749.950073093227


WINNING TRADE
Old Balance: $9749.950073093227
New Balance: $10008.51492728105


SHORT
ATR: $16.98
Entry Price: $1322.0
Stop Loss: $1338.98
TP1: $1305.02
TP2: $1288.04
Quantity: 0.3785368731951986 ETH

New Balance: $9508.089180916997


LOSING TRADE
Old Balance: $9508.089180916997
New Balance: $10002.087371174195


SHORT
ATR: $9.49
Entry Price: $1327.49
Stop Loss: $1336.98
TP1: $1318.0
TP2: $1308.51
Quantity: 0.37672929254360465 ETH

New Balance: $9501.983002615485


LOSING TRADE
Old Balance: $9501.983002615485
New Balance: $9998.512210187955


SHORT
ATR: $30.15
Entry Price: $1327.48
Stop Loss: $1357.63
TP1: $1297.33
TP2: $1267.18
Quantity: 0.3765974707787671 ETH

New Balance: $9498.586599678558


LOSING TRADE
Old Balance: $9498.586599678558
New Balance: $9987.157796443975


SHORT
ATR: $16.96
Entry Price: $1331.73
Stop Loss: $1348.69
TP1: $1314.77
TP2: $1297.81
Quantity: 0.37496931797150984 ETH

New Balance: $9487.799906621776


WINNING TRADE
Old Balance: $9487.799906621776
New Balance: $9740.658591349275


WINNING TRADE
Old Balance: $9740.658591349275
New Balance: $9996.69701589317


LONG
ATR: $14.43
Entry: $1357.39
Stop Loss: $1342.96
TP1: $1371.82
TP2: $1386.25
Quantity: 0.3682323067023173 ETH

New Balance: $9496.862165098511


WINNING TRADE
Old Balance: $9496.862165098511
New Balance: $9749.436386588697


LOSING TRADE
Old Balance: $9749.436386588697
New Balance: $9996.697015893169


SHORT
ATR: $8.93
Entry Price: $1317.94
Stop Loss: $1326.87
TP1: $1309.01
TP2: $1300.08
Quantity: 0.3792546328320397 ETH

New Balance: $9496.862165098511


WINNING TRADE
Old Balance: $9496.862165098511
New Balance: $10246.6144412905


SHORT
ATR: $8.15
Entry Price: $1294.51
Stop Loss: $1302.66
TP1: $1286.36
TP2: $1278.21
Quantity: 0.3957719307417672 ETH

New Balance: $9734.283719225974


WINNING TRADE
Old Balance: $9734.283719225974
New Balance: $9992.061850876009


WINNING TRADE
Old Balance: $9992.061850876009
New Balance: $10251.452753143816


SHORT
ATR: $2.8
Entry Price: $1296.53
Stop Loss: $1299.33
TP1: $1293.73
TP2: $1290.93
Quantity: 0.39534190312386974 ETH

New Balance: $9738.880115486625


LOSING TRADE
Old Balance: $9738.880115486625
New Balance: $10250.345795815068


LONG
ATR: $40.62
Entry: $1540.18
Stop Loss: $1499.56
TP1: $1580.8
TP2: $1621.42
Quantity: 0.3327645403723938 ETH

New Balance: $9737.828506024314


WINNING TRADE
Old Balance: $9737.828506024314
New Balance: $10000.845598734655


WINNING TRADE
Old Balance: $10000.845598734655
New Balance: $10270.621139259958


LONG
ATR: $8.71
Entry: $1589.16
Stop Loss: $1580.45
TP1: $1597.87
TP2: $1606.58
Quantity: 0.32314622628495426 ETH

New Balance: $9757.09008229696


LOSING TRADE
Old Balance: $9757.09008229696
New Balance: $10267.806535629015


LONG
ATR: $43.55
Entry: $1620.76
Stop Loss: $1577.21
TP1: $1664.31
TP2: $1707.86
Quantity: 0.3167590061338204 ETH

New Balance: $9754.416208847564


LOSING TRADE
Old Balance: $9754.416208847564
New Balance: $10254.011680911886


LONG
ATR: $14.69
Entry: $1581.18
Stop Loss: $1566.49
TP1: $1595.87
TP2: $1610.56
Quantity: 0.32425187774041814 ETH

New Balance: $9741.311096866291


WINNING TRADE
Old Balance: $9741.311096866291
New Balance: $10000.043018931092


WINNING TRADE
Old Balance: $10000.043018931092
New Balance: $10261.156571037896


LONG
ATR: $20.35
Entry: $1587.54
Stop Loss: $1567.19
TP1: $1607.89
TP2: $1628.24
Quantity: 0.3231778906685154 ETH

New Balance: $9748.098742486001


LOSING TRADE
Old Balance: $9748.098742486001
New Balance: $10254.579900962792


LONG
ATR: $7.91
Entry: $1543.59
Stop Loss: $1535.68
TP1: $1551.5
TP2: $1559.41
Quantity: 0.33216656952178986 ETH

New Balance: $9741.850905914653


WINNING TRADE
Old Balance: $9741.850905914653
New Balance: $9999.529122221182


LOSING TRADE
Old Balance: $9999.529122221182
New Balance: $10254.579900962794


LONG
ATR: $30.91
Entry: $1551.79
Stop Loss: $1520.88
TP1: $1582.7
TP2: $1613.61
Quantity: 0.3304113282390915 ETH

New Balance: $9741.850905914655


WINNING TRADE
Old Balance: $9741.850905914655
New Balance: $10003.321910516659


WINNING TRADE
Old Balance: $10003.321910516659
New Balance: $10269.899422196599


LONG
ATR: $4.75
Entry: $1628.83
Stop Loss: $1624.08
TP1: $1633.58
TP2: $1638.33
Quantity: 0.31525387616253997 ETH

New Balance: $9756.404451086768


LOSING TRADE
Old Balance: $9756.404451086768
New Balance: $10268.401966284826


LONG
ATR: $13.53
Entry: $1626.42
Stop Loss: $1612.89
TP1: $1639.95
TP2: $1653.48
Quantity: 0.31567497836613007 ETH

New Balance: $9754.981867970584


LOSING TRADE
Old Balance: $9754.981867970584
New Balance: $10264.13088382753


LONG
ATR: $8.54
Entry: $1584.51
Stop Loss: $1575.97
TP1: $1593.05
TP2: $1601.59
Quantity: 0.3238897477399174 ETH

New Balance: $9750.924339636154


LOSING TRADE
Old Balance: $9750.924339636154
New Balance: $10261.364865381833


SHORT
ATR: $29.6
Entry Price: $1252.32
Stop Loss: $1281.92
TP1: $1222.72
TP2: $1193.12
Quantity: 0.40969420217603464 ETH

New Balance: $9748.29662211274


WINNING TRADE
Old Balance: $9748.29662211274
New Balance: $10010.894217939493


LOSING TRADE
Old Balance: $10010.894217939493
New Balance: $10261.364865381833


SHORT
ATR: $25.26
Entry Price: $1259.34
Stop Loss: $1284.6
TP1: $1234.08
TP2: $1208.82
Quantity: 0.4074104239276857 ETH

New Balance: $9748.29662211274


LOSING TRADE
Old Balance: $9748.29662211274
New Balance: $10251.073678073419


SHORT
ATR: $33.7
Entry Price: $1216.27
Stop Loss: $1249.97
TP1: $1182.57
TP2: $1148.87
Quantity: 0.4214143931065232 ETH

New Balance: $9738.519994169748


LOSING TRADE
Old Balance: $9738.519994169748
New Balance: $10236.87201302573


SHORT
ATR: $33.84
Entry Price: $1243.56
Stop Loss: $1277.4
TP1: $1209.72
TP2: $1175.88
Quantity: 0.4115954201255159 ETH

New Balance: $9725.028412374444


WINNING TRADE
Old Balance: $9725.028412374444
New Balance: $9987.914407208611


WINNING TRADE
Old Balance: $9987.914407208611
New Balance: $10257.764596551302


SHORT
ATR: $13.34
Entry Price: $1157.36
Stop Loss: $1170.7
TP1: $1144.02
TP2: $1130.68
Quantity: 0.4431535821417409 ETH

New Balance: $9744.876366723736


LOSING TRADE
Old Balance: $9744.876366723736
New Balance: $10251.85292776553


LONG
ATR: $12.65
Entry: $1193.15
Stop Loss: $1180.5
TP1: $1205.8
TP2: $1218.45
Quantity: 0.4296129123649805 ETH

New Balance: $9739.260281377254


WINNING TRADE
Old Balance: $9739.260281377254
New Balance: $9998.2739062421


WINNING TRADE
Old Balance: $9998.2739062421
New Balance: $10260.004832777657


Number Of Trades Executed: 29