Installing dependencies

In [1]:
%%script echo skipping
# %pip install binance-connector
%pip install tradingview-ta
%pip install pandas
%pip install python-dotenv
%pip install python-binance

skipping

Trying out TradingView API

In [2]:
%%script echo skipping
from tradingview_ta import TA_Handler, Interval, Exchange

ADA = TA_Handler(
    symbol="ADAUSDT",
    screener="crypto",
    exchange="BINANCE",
    interval=Interval.INTERVAL_1_DAY,
    # proxies={'http': 'http://example.com:8080'} # Uncomment to enable proxy (replace the URL).
)
print(ADA.get_analysis().summary)
# Example output: {"RECOMMENDATION": "BUY", "BUY": 8, "NEUTRAL": 6, "SELL": 3}

skipping

In [3]:
import os
from datetime import datetime

import numpy as np
import pandas as pd
import requests
from binance.client import Client

In [4]:
from dotenv import load_dotenv
load_dotenv()

api_key = os.environ['BINANCE_API_KEY']
api_secret = os.environ['BINANCE_PASSWORD']
ta_api = os.environ['taapi_key']


# client = Client(api_key, api_secret)
# print('Using Binance TestNet Server')
# print('')
# print(binance_client.get_account())
# client = Client(base_url='https://testnet.binance.vision')
# print(client.time())
# print(client.account())

# from binance import Client, ThreadedWebsocketManager, ThreadedDepthCacheManager
client = Client(api_key, api_secret, testnet=True)
# client.ping()
# client.get_server_time()
# info = client.get_symbol_info('ETHUSDT')
# print(info)

In [5]:
def get_data_frame(symbol):
    # starttime = '6 months ago UTC'
    starttime = '1 Jan, 2017'
    interval = '1h'
    data = client.get_historical_klines(symbol, interval, starttime)

    for row in data:
        del row[5:]
    
    df = pd.DataFrame(data, columns=['date', 'open', 'high', 'low', 'close'])

    return df

get_data_frame('ETHUSDT')

              date           open           high            low          close
0    1667394000000  1556.31000000  1557.38000000  1414.70000000  1553.45000000
1    1667397600000  1553.25000000  1572.20000000  1523.86000000  1560.21000000
2    1667401200000  1560.22000000  1561.57000000  1481.81000000  1558.54000000
3    1667404800000  1558.51000000  1574.85000000  1550.09000000  1571.23000000
4    1667408400000  1570.95000000  1577.10000000  1550.91000000  1558.57000000
..             ...            ...            ...            ...            ...
116  1667811600000  1568.08000000  1575.22000000  1500.00000000  1564.37000000
117  1667815200000  1563.88000000  1584.32000000  1536.01000000  1578.53000000
118  1667818800000  1578.29000000  3421.00000000  1393.13000000  1579.96000000
119  1667822400000  1579.85000000  1584.98000000  1576.49000000  1584.57000000
120  1667826000000  1584.51000000  1589.53000000  1575.41000000  1580.60000000

[121 rows x 5 columns]

In [6]:
def macd_logic(symbol):

    symbol_df = get_data_frame(symbol)

    symbol_df['open'] = pd.to_numeric(symbol_df['open'])
    symbol_df['high'] = pd.to_numeric(symbol_df['high'])
    symbol_df['low'] = pd.to_numeric(symbol_df['low'])
    symbol_df['close'] = pd.to_numeric(symbol_df['close'])
    symbol_df['date'] = pd.to_datetime(symbol_df['date'], unit = 'ms')


    short_ema = symbol_df['close'].ewm(span = 12, adjust = False).mean()
    long_ema = symbol_df['close'].ewm(span = 26, adjust = False).mean()
    ema_200 = symbol_df['close'].ewm(span = 200, adjust = False).mean()

    macd = short_ema - long_ema
    signal = macd.ewm(span = 9, adjust = False).mean()

    symbol_df['macd'] = macd
    symbol_df['signal'] = signal
    symbol_df['200_ema'] = ema_200


    symbol_df['Trigger'] = np.where(((symbol_df['macd'] > symbol_df['signal']) & (symbol_df['200_ema'] < symbol_df['close'])), 1, 0)

    return symbol_df

macd_logic('ETHUSDT')

,date,open,high,low,close,macd,signal,200_ema,Trigger
0,2022-11-02 13:00:00,1556.31,1557.38,1414.70,1553.45,0.000000,0.000000,1553.450000,0
1,2022-11-02 14:00:00,1553.25,1572.20,1523.86,1560.21,0.539259,0.107852,1553.517264,1
2,2022-11-02 15:00:00,1560.22,1561.57,1481.81,1558.54,0.822391,0.250760,1553.567241,1
3,2022-11-02 16:00:00,1558.51,1574.85,1550.09,1571.23,2.047154,0.610038,1553.742990,1
4,2022-11-02 17:00:00,1570.95,1577.10,1550.91,1558.57,1.973482,0.882727,1553.791020,1
...,...,...,...,...,...,...,...,...,...
116,2022-11-07 09:00:00,1568.08,1575.22,1500.00,1564.37,-14.376212,-11.763272,1585.201483,0
117,2022-11-07 10:00:00,1563.88,1584.32,1536.01,1578.53,-13.380135,-12.086644,1585.135100,0
118,2022-11-07 11:00:00,1578.29,3421.00,1393.13,1579.96,-12.333179,-12.135951,1585.083607,0
119,2022-11-07 12:00:00,1579.85,1584.98,1576.49,1584.57,-11.004615,-11.909684,1585.078496,0
120,2022-11-07 13:00:00,1584.51,1589.53,1575.41,1580.80,-10.139050,-11.555557,1585.035924,0

# BACKTESTING

Backtesting completed on 6 month historical data on 5m time frame

In [7]:
def get_six_month_data_frame(symbol):
    # starttime = '6 months ago UTC'
    starttime = '1 Jan, 2017'
    interval = '1h'
    data = client.get_historical_klines(symbol, interval, starttime)

    for row in data:
        del row[5:]
    
    df = pd.DataFrame(data, columns=['date', 'open', 'high', 'low', 'close'])
    return df

six_month_eth_df_raw = get_six_month_data_frame('ETHUSDT')

In [45]:
# url1 = 'https://api.binance.com/api/v3/klines?symbol=ETHUSDT&interval=1h&limit=1000&endTime=1660629600000'
# url2 = 'https://api.binance.com/api/v3/klines?symbol=ETHUSDT&interval=1h&limit=1000&endTime=1664229600000'
# url3 = 'https://api.binance.com/api/v3/klines?symbol=ETHUSDT&interval=1h&limit=1000&endTime=1667829600000'

def get_bars(symbol, limit = '1000', interval = '1h'):
    df = pd.DataFrame()
    root_url = 'https://api.binance.com/api/v1/klines'
    end_times = ['1660629600000', '1664229600000', '1667829600000']
    for time in end_times:
        url = root_url + '?symbol=' + symbol + '&interval=' + interval + '&limit=' + limit + '&endTime=' + time
        data = json.loads(requests.get(url).text)
        for row in data:
            del row[5:]
        df = df.append(data)
    df.columns = ['date',
                'open', 'high', 'low', 'close']
    return df.reset_index()

get_bars('ETHUSDT')

/var/folders/2l/h2r8kh1x2jx7lbwdk0x41gp80000gn/T/ipykernel_48189/1687454806.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

,index,date,open,high,low,close
0,0,1657033200000,1093.38000000,1095.08000000,1076.34000000,1092.95000000
1,1,1657036800000,1092.95000000,1103.50000000,1088.28000000,1095.60000000
2,2,1657040400000,1095.60000000,1107.41000000,1094.33000000,1102.68000000
3,3,1657044000000,1102.69000000,1128.00000000,1099.44000000,1127.51000000
4,4,1657047600000,1127.50000000,1152.75000000,1123.82000000,1146.53000000
...,...,...,...,...,...,...
2995,995,1667815200000,1564.10000000,1584.56000000,1563.88000000,1578.54000000
2996,996,1667818800000,1578.53000000,1582.02000000,1575.66000000,1580.00000000
2997,997,1667822400000,1579.99000000,1585.02000000,1576.48000000,1584.51000000
2998,998,1667826000000,1584.50000000,1589.73000000,1575.31000000,1579.30000000
2999,999,1667829600000,1579.31000000,1582.60000000,1575.00000000,1578.24000000

In [8]:
six_month_eth_df_raw

              date           open           high            low          close
0    1667394000000  1556.31000000  1557.38000000  1414.70000000  1553.45000000
1    1667397600000  1553.25000000  1572.20000000  1523.86000000  1560.21000000
2    1667401200000  1560.22000000  1561.57000000  1481.81000000  1558.54000000
3    1667404800000  1558.51000000  1574.85000000  1550.09000000  1571.23000000
4    1667408400000  1570.95000000  1577.10000000  1550.91000000  1558.57000000
..             ...            ...            ...            ...            ...
116  1667811600000  1568.08000000  1575.22000000  1500.00000000  1564.37000000
117  1667815200000  1563.88000000  1584.32000000  1536.01000000  1578.53000000
118  1667818800000  1578.29000000  3421.00000000  1393.13000000  1579.96000000
119  1667822400000  1579.85000000  1584.98000000  1576.49000000  1584.57000000
120  1667826000000  1584.51000000  1589.53000000  1575.41000000  1580.80000000

[121 rows x 5 columns]

In [9]:
def test_macd_logic(symbol):

    symbol_df = get_six_month_data_frame(symbol)

    symbol_df['open'] = pd.to_numeric(symbol_df['open'])
    symbol_df['high'] = pd.to_numeric(symbol_df['high'])
    symbol_df['low'] = pd.to_numeric(symbol_df['low'])
    symbol_df['close'] = pd.to_numeric(symbol_df['close'])
    symbol_df['date'] = pd.to_datetime(symbol_df['date'], unit = 'ms')


    short_ema = symbol_df['close'].ewm(span = 12, adjust = False).mean()
    long_ema = symbol_df['close'].ewm(span = 26, adjust = False).mean()
    ema_200 = symbol_df['close'].ewm(span = 200, adjust = False).mean()

    macd = short_ema - long_ema
    signal = macd.ewm(span = 9, adjust = False).mean()

    symbol_df['macd'] = macd
    symbol_df['signal'] = signal
    symbol_df['200_ema'] = ema_200

    # print(symbol_df.info())


    symbol_df['Trigger'] = np.where(((symbol_df['macd'] > symbol_df['signal']) & (symbol_df['close'] > symbol_df['200_ema']) & (symbol_df['macd'] < 0) & (symbol_df['signal'] > symbol_df['macd'].shift())), 1, 0)
    
    tr_list = [(symbol_df['high'] - symbol_df['low']), (symbol_df['low'] - symbol_df['close'].shift()), (symbol_df['high'] - symbol_df['close'].shift())]

    symbol_df['TR1'] = symbol_df['high'] - symbol_df['low']
    symbol_df['prev close'] = symbol_df['close'].shift()
    symbol_df['TR2'] = symbol_df['low'] - symbol_df['close'].shift()
    symbol_df['TR3'] = symbol_df['high'] - symbol_df['close'].shift()
    # symbol_df['TR LIST'] = symbol_df.apply(lambda row : [(row['high'] - row['low']), (row['low'] - row['close'].shift()), (row['high'] - row['close'].shift())])
    # symbol_df['TR LIST'] = symbol_df.apply(symbol_df)

    symbol_df = symbol_df.iloc[200:]

    triggered_df = symbol_df.loc[symbol_df['Trigger'] == 1]

    return symbol_df

test_df = test_macd_logic('ETHUSDT')

In [10]:
test_df

Empty DataFrame
Columns: [date, open, high, low, close, macd, signal, 200_ema, Trigger, TR1, prev close, TR2, TR3]
Index: []

In [11]:
atr_indicator = "atr"
atr_endpoint = f"https://api.taapi.io/{atr_indicator}"

live_price_indicator = "price"
live_price_endpoint = f"https://api.taapi.io/{atr_indicator}"

stop_loss = 0
tp = 0
entry = 0

parameters = {
    'secret': ta_api,
    'exchange': 'binance',
    'symbol': 'ETH/USDT',
    'interval': '1H'
    } 

in_trade = False
tp1_hit = False

win = 0
loss = 0
profit = 0
losses = 0

atr_test = 16.74326363683623

for index, row in test_df.iterrows():
    
    if in_trade == False:
        if row['Trigger'] == 1:
            in_trade = True

            stop_loss = row['close'] - atr_test
            tp = row['close'] + atr_test
            entry = row['close']
            
    
    else:
        if row['close'] <= stop_loss:
            in_trade = False
            close = row['close']
            loss += 1
            losses += (entry - stop_loss)
            tp1_hit = False
            print(f'STOP LOSS: {stop_loss}, CLOSE: {close}, ENTRY: {entry}')
            print(f'Losses: {losses}')
            print('')

        elif row['close'] >= tp and tp1_hit == False:
            # in_trade = False
            close = row['close']
            tp1_hit = True
            stop_loss = entry
            win += 1
            profit += ((tp - entry)/2)
            print(f'TP1: {tp}, CLOSE: {close}, ENTRY: {entry}')
            print(f'Profit: {profit}')
            print('')
            tp = (entry + (2*atr_test))
            
        elif row['close'] >= tp and tp1_hit == True:
            close = row['close']
            in_trade = False
            tp1_hit = False
            profit += ((tp - entry)/2)
            print(f'TP2: {tp}, CLOSE: {close}, ENTRY: {entry}')
            print(f'Profit: {profit}')
            print('')


        
print(f'wins: {win}, profit: ${profit}')
print(f'losses: {loss}, losses: ${losses}')
print(f'P/L: {profit - losses}')

wins: 0, profit: $0
losses: 0, losses: $0
P/L: 0

In [12]:
eth_raw_df_2 = get_six_month_data_frame('ETHUSDT')
eth_raw_df_2

              date           open           high            low          close
0    1667394000000  1556.31000000  1557.38000000  1414.70000000  1553.45000000
1    1667397600000  1553.25000000  1572.20000000  1523.86000000  1560.21000000
2    1667401200000  1560.22000000  1561.57000000  1481.81000000  1558.54000000
3    1667404800000  1558.51000000  1574.85000000  1550.09000000  1571.23000000
4    1667408400000  1570.95000000  1577.10000000  1550.91000000  1558.57000000
..             ...            ...            ...            ...            ...
116  1667811600000  1568.08000000  1575.22000000  1500.00000000  1564.37000000
117  1667815200000  1563.88000000  1584.32000000  1536.01000000  1578.53000000
118  1667818800000  1578.29000000  3421.00000000  1393.13000000  1579.96000000
119  1667822400000  1579.85000000  1584.98000000  1576.49000000  1584.57000000
120  1667826000000  1584.51000000  1589.53000000  1575.41000000  1580.80000000

[121 rows x 5 columns]

In [13]:
import requests        # for making http requests to binance
import json            # for parsing what binance sends back to us
import pandas as pd    # for storing and manipulating the data we get back
import numpy as np     # numerical python, i usually need this somewhere 
                       # and so i import by habit nowadays

import matplotlib.pyplot as plt # for charts and such
    
import datetime as dt  # for dealing with times

def get_bars(symbol, interval = '1h'):
   root_url = 'https://api.binance.com/api/v1/klines'
   url = root_url + '?symbol=' + symbol + '&interval=' + interval
   data = json.loads(requests.get(url).text)
   for row in data:
        del row[5:]
   df = pd.DataFrame(data)
   df.columns = ['date',
                 'open', 'high', 'low', 'close']
   return df

steemeth = get_bars('STEEMETH')
ethusdt = get_bars('ETHUSDT').astype('float')
# steemusdt = steemeth['c'].astype('float') * ethusdt['c'].astype('float')
# ethusdt['c'].astype('float').plot(figsize=(16,9))

# steemusdt.plot(figsize=(16,9))
# steemeth

In [14]:
def test_logic_2(raw_df):
    raw_df['open'] = pd.to_numeric(raw_df['open'])
    raw_df['high'] = pd.to_numeric(raw_df['high'])
    raw_df['low'] = pd.to_numeric(raw_df['low'])
    raw_df['close'] = pd.to_numeric(raw_df['close'])
    raw_df['date'] = pd.to_datetime(raw_df['date'], unit = 'ms')


    short_ema = raw_df['close'].ewm(span = 12, adjust = False).mean()
    long_ema = raw_df['close'].ewm(span = 26, adjust = False).mean()
    ema_200 = raw_df['close'].ewm(span = 200, adjust = False).mean()

    macd = short_ema - long_ema
    signal = macd.ewm(span = 9, adjust = False).mean()

    raw_df['macd'] = macd
    raw_df['signal'] = signal
    raw_df['200_ema'] = ema_200

    raw_df['TR1'] = abs(raw_df['high'] - raw_df['low'])
    raw_df['TR2'] = abs(raw_df['low'] - raw_df['close'].shift())
    raw_df['TR3'] = abs(raw_df['high'] - raw_df['close'].shift())

    raw_df['ATR'] = raw_df.apply(lambda x: row_check(x.TR1, x.TR2, x.TR3), axis=1)

    raw_df = raw_df.iloc[200:]

    raw_df = raw_df.drop(['TR1', 'TR2', 'TR3'], axis=1)

    raw_df['Trigger'] = np.where(((raw_df['macd'] > raw_df['signal']) & (raw_df['close'] > raw_df['200_ema']) & (raw_df['macd'] < 0) & (raw_df['signal'] > raw_df['macd'].shift())), 1, 0)

    return raw_df

def row_check(TR1, TR2, TR3):
    if TR1 >= TR2 and TR1 >= TR3:
        ATR = TR1
    elif TR2 >= TR1 and TR2 >= TR3:
        ATR = TR2
    else:
        ATR = TR3
    
    return ATR

In [15]:
# tinkered_df = test_logic_2(eth_raw_df_2)
tinkered_df = test_logic_2(ethusdt)

In [24]:
1504771200000
print(pd.to_datetime(1504771200000, unit = 'ms'))

2017-09-07 08:00:00

In [16]:
tinkered_df

,date,open,high,low,close,macd,signal,200_ema,ATR,Trigger
200,2022-10-26 02:00:00,1480.37,1491.98,1476.49,1485.72,34.760592,31.476458,1338.258596,15.49,0
201,2022-10-26 03:00:00,1485.71,1499.21,1479.89,1487.03,34.526564,32.086479,1339.738909,19.32,0
202,2022-10-26 04:00:00,1487.02,1490.02,1476.83,1479.95,33.384957,32.346175,1341.134044,13.19,0
203,2022-10-26 05:00:00,1479.95,1485.25,1477.48,1484.34,32.460280,32.368996,1342.558979,7.77,0
204,2022-10-26 06:00:00,1484.35,1501.16,1482.49,1497.73,32.434048,32.382006,1344.102969,18.67,0
...,...,...,...,...,...,...,...,...,...,...
495,2022-11-07 09:00:00,1568.08,1575.58,1564.10,1564.10,-14.410638,-11.808442,1580.406464,11.48,0
496,2022-11-07 10:00:00,1564.10,1584.56,1563.88,1578.54,-13.407928,-12.128339,1580.387892,20.68,0
497,2022-11-07 11:00:00,1578.53,1582.02,1575.66,1580.00,-12.353065,-12.173284,1580.384032,6.36,0
498,2022-11-07 12:00:00,1579.99,1585.02,1576.48,1584.51,-11.026057,-11.943839,1580.425087,8.54,1
499,2022-11-07 13:00:00,1584.50,1589.73,1575.31,1581.05,-10.136737,-11.582418,1580.431305,14.42,0

In [17]:
stop_loss = 0
tp = 0
entry = 0

in_trade = False
tp1_hit = False

win = 0
loss = 0
profit = 0
losses = 0

for index, row in tinkered_df.iterrows():
    atr = 0
    
    if in_trade == False:
        if row['Trigger'] == 1:
            in_trade = True
            atr = row['ATR']
            stop_loss = row['close'] - atr
            tp = row['close'] + atr
            entry = row['close']
            
    
    else:
        if row['close'] <= stop_loss:
            in_trade = False
            close = row['close']
            loss += 1
            losses += (entry - stop_loss)
            tp1_hit = False
            print(f'STOP LOSS: {stop_loss}, CLOSE: {close}, ENTRY: {entry}')
            print(f'Losses: {losses}')
            print('')

        elif row['close'] >= tp and tp1_hit == False:
            # in_trade = False
            close = row['close']
            tp1_hit = True
            stop_loss = entry
            win += 1
            profit += ((tp - entry)/2)
            print(f'TP1: {tp}, CLOSE: {close}, ENTRY: {entry}')
            print(f'Profit: {profit}')
            print('')
            tp = (entry + (2*atr))
            
        elif row['close'] >= tp and tp1_hit == True:
            close = row['close']
            in_trade = False
            tp1_hit = False
            profit += ((tp - entry)/2)
            print(f'TP2: {tp}, CLOSE: {close}, ENTRY: {entry}')
            print(f'Profit: {profit}')
            print('')


        
print(f'wins: {win}, profit: ${profit}')
print(f'losses: {loss}, losses: ${losses}')
print(f'P/L: {profit - losses}')

TP1: 1580.8000000000002, CLOSE: 1589.52, ENTRY: 1540.18
Profit: 20.31000000000006

TP2: 1540.18, CLOSE: 1581.04, ENTRY: 1540.18
Profit: 20.31000000000006

TP1: 1597.8700000000001, CLOSE: 1620.76, ENTRY: 1589.16
Profit: 24.665000000000077

TP2: 1589.16, CLOSE: 1623.06, ENTRY: 1589.16
Profit: 24.665000000000077

TP1: 1595.87, CLOSE: 1598.35, ENTRY: 1581.18
Profit: 32.00999999999999

TP2: 1581.18, CLOSE: 1586.81, ENTRY: 1581.18
Profit: 32.00999999999999

STOP LOSS: 1567.1899999999998, CLOSE: 1564.76, ENTRY: 1587.54
Losses: 20.350000000000136

TP1: 1551.5, CLOSE: 1553.34, ENTRY: 1543.59
Profit: 35.96500000000003

TP2: 1543.59, CLOSE: 1551.76, ENTRY: 1543.59
Profit: 35.96500000000003

TP1: 1582.7, CLOSE: 1587.43, ENTRY: 1551.79
Profit: 51.42000000000007

TP2: 1551.79, CLOSE: 1579.33, ENTRY: 1551.79
Profit: 51.42000000000007

STOP LOSS: 1624.08, CLOSE: 1620.35, ENTRY: 1628.83
Losses: 25.100000000000136

STOP LOSS: 1612.89, CLOSE: 1610.59, ENTRY: 1626.42
Losses: 38.63000000000011

wins: 5, profit: $51.42000000000007
losses: 3, losses: $38.63000000000011
P/L: 12.789999999999964

In [18]:
candles = client.get_klines(symbol='BNBBTC', interval=Client.KLINE_INTERVAL_1HOUR)

In [19]:
pd.DataFrame(candles)

,0,1,2,3,4,5,6,7,8,9,10,11
0,1667394000000,0.01568200,0.01568200,0.00390000,0.01564800,624.75000000,1667397599999,9.59646010,1307,48.66000000,0.76193091,0
1,1667397600000,0.01564700,0.01570200,0.00390000,0.01563300,500.19000000,1667401199999,7.62861701,1103,106.01000000,1.65555072,0
2,1667401200000,0.01562900,0.01564400,0.01548200,0.01560400,69.92000000,1667404799999,1.09175447,200,39.25000000,0.61322331,0
3,1667404800000,0.01560900,0.01587500,0.01456000,0.01587300,301.12000000,1667408399999,4.71991370,997,200.33000000,3.14176859,0
4,1667408400000,0.01587500,0.01617100,0.00390000,0.01570300,572.66000000,1667411999999,8.96649552,1835,239.30000000,3.78647093,0
...,...,...,...,...,...,...,...,...,...,...,...,...
116,1667811600000,0.01600300,0.01600700,0.01594400,0.01596800,79.57000000,1667815199999,1.27144123,247,75.97000000,1.21395661,0
117,1667815200000,0.01596400,0.01605300,0.01594400,0.01602500,109.56000000,1667818799999,1.75455352,341,104.88000000,1.67967263,0
118,1667818800000,0.01602600,0.01606700,0.01600100,0.01602600,77.68000000,1667822399999,1.24560214,244,75.29000000,1.20728584,0
119,1667822400000,0.01602200,0.01602500,0.01592200,0.01598300,137.35000000,1667825999999,2.19522095,441,133.27000000,2.13002785,0
120,1667826000000,0.01598300,0.01603000,0.01590100,0.01593100,131.41000000,1667829599999,2.09648089,416,128.50000000,2.05010475,0

In [20]:
import requests

response = requests.get('https://cnft.tools/api/whitelist/autowl')

data = response.json()
pioneer_count = 0
wl_count = 0

for test in data:
    print('Pioneer')
    if test['role'] == '1018984763291340840':
        pioneer_count += 1
        print(test['role'])
        print(test['addr'])
        print('')

for test in data:
    print('WL')
    if test['role'] == '1019005107800637490':
        wl_count += 1
        print(test['role'])
        print(test['addr'])
        print('')

print(pioneer_count)
print(wl_count)

Pioneer
1018984763291340840
addr1qxrhwpe3gw75pp8ux7p7tshvac34dr0yhtrpj9g2jjgahccs98m6apttgmutjlekx08zk4uy6sk24v5apkvv9xsnznzqulfa49

Pioneer
1018984763291340840
addr1q8prqclry8mluma8sejt67rp6juryv9pmzep7ar4afp7jalguhf4g7srq59xeklh8xwatjd29qu4s7aam8p06ylatgvspx7cjn

Pioneer
1018984763291340840
addr1q9y2w3u7t0xpzmrue8846rd8sy9h5geu8h443rumkfxhlt545aest3dwktdnk76u6npcufryax4xd9ley3mhe5mxruls5zhvup

Pioneer
1018984763291340840
addr1qxcy9xwkdj2gsyg4xpzxqt6vssrr2tuvz964pfzlu3gfeus09tqs5rppqwtj25xjn5t6k9jmg5hrp8y0zsw064wu0kcs9f3hjl

Pioneer
1018984763291340840
addr1qxq4e7804g980q00ddpdkrhgh9el3h4uewczs2aef25ut764mya972xe80ufcreq42zhv6f2ghfkpa0jacsyzhvfs84ssa0x3j

Pioneer
1018984763291340840
addr1q9dk7r0kr5r8wfnm0vc6xzqe0nwj7fydn6pa34577edysrnk5elmd8nutfq6vl07epvj56my84rz455ctqnz6yv9m97qqfvlpz

Pioneer
1018984763291340840
addr1qx48v6xdgqyead9mym8w2hje7f4sk640jfdlhlamg25ranakevsa0fjalzt8udlw5ntcwfwz9jmx92g4wsnl7uxdwnvs5yv5g2

Pioneer
1018984763291340840
addr1qxyjemk5z2l9lwrs2xhvkq2slykltqa0krn22hdjktv44p0f9h2fn90v0sxgzrxhjgew6w9lvk03m6e27dlf82rsvagq5vz82a

Pioneer
1018984763291340840
addr1q9e23c3vej33ndytknk5sjhx8y3sh5dwwxflme5r43rjdc7pygcwnfe9dwddx46nza36l2860uwac6phkrddas8uyf8qycwmr3

Pioneer
1018984763291340840
addr1q95qhve3xw5gxlkwhpd9am7t5ddcf4660e7407l66dp0m2rqecegvkdkgm296w7amuw6hd8r46ssng4r8wzhrqkujjrs68ur5g

Pioneer
1018984763291340840
addr1qyphdqhg4auauptnkzepwpa6y6cfppuz6ppyt549qmmae8j082z7mk77z3lh77mnvxf0gefun9yy8ua5f6jse8wwyapq9z4jdg

Pioneer
1018984763291340840
addr1qxylexwsck3yfp4fswt7u3f0skja5jmnx6a77h5qhgk9lqaggakcm0ff6s4ecmk96fdsng6vwx5gkrgvrcxz8tcmqt5srns4c5

Pioneer
1018984763291340840
addr1q9afhm8caqpwjuaeqrkz369qxlxpq4vmx3y0vkpsxcet78wuyztz98j4zgu9acw2qrekpnqxcm6726wepsn4k4zajygs99fqy5

Pioneer
1018984763291340840
addr1q8md5sukxteghw0260w5j7xvguluey9n50p8glcqjkfh9ess0cphpcudq3mv7rmjs3v4rjl62p5u5wtaqzher4az0a3sy0djdc

Pioneer
1018984763291340840
addr1qy9s85u3536x4nc5098ya2jnrdnuyhtf40kc2yksane42d9urulkk9cnhvgtzdpeeru5xz8hgj330pps3j7uwsewfn2qsppvrm

Pioneer
1018984763291340840
addr1qxxmkvyevp7vna6qyhep8v2pzd5seq9fyymcdv22n9tc5lerphdeg0k06v6kxe05mxrzffdk8kyyacp5waqrfskthgnqhkfud2

Pioneer
1018984763291340840
addr1q846lk8hzp8k935e005jh75e3t8tjpz3xqwjttq902pyl5rm308mlelcrm0zmhz7fjs8ca5luczu086p0mxa6f4ljnjqgkpwde

Pioneer
1018984763291340840
addr1q9xc39pan5kpt84pfm7t68ktxjfn3kcn6cya3xjp8v4u7zswk3gk9p0w5khfzepy6k94ptz2ptqgvufftnh35knh3rzqu2qgm6

Pioneer
1018984763291340840
addr1qycgdcelzzlh90paa5dqlj7c5qrzpupzg0ucemkra3078am9vh9j2rwd6vzd7ad9pm2x85x0pvp0wgz0qn37g9ug4klq4jxqk8

Pioneer
1018984763291340840
addr1q9tahnm39c64st984ffs765mfgjylf4p5wphqm7u9xy7lfruupxac6l0jtc7uj67vwq2xae8d26pehjjs00pslghwpxsk62yds

Pioneer
1018984763291340840
addr1qx42fa6044jvlnq3v7tpnj9qg4wysa0027nyjgd4tnupc8ejq2dpmmasfazq5v20pjesgy34zt200dykj9f9xjugffyqafla3e

Pioneer
1018984763291340840
addr1q9l9j90mr58r9z0p4gvtskqjkfwrkkh382j8xwqdkdg70v9q3a2f4xl085lq0srp46l5d6gmzhdpedfhtr3xah4dnnzq6tlyeq

Pioneer
1018984763291340840
addr1q98q5ngn9sz6y74hrscuw25f3cjfqz5n8cuc2nm0zj6pumw7l760vtfvtwmv7q2vqq08f0qq2u8e57090kvyw847uhuqkala35

Pioneer
1018984763291340840
addr1q8vvv9udwdkwj08nsm9vue3lvvmqc0xj9eyqfg30xssym2z8rzt4tvs77am2nhycjxvwjed89njhr8pk6j8adh73zfuq47wlm3

Pioneer
1018984763291340840
addr1q8lc73yxzenps2hkc6cp7mc9fk9tr8s7h2p2q7xfmetp3kpek64ctfsdsmdndcg4txwhr55e7q9f6kucxa6es2w2zucsj4t53h

Pioneer
1018984763291340840
addr1q9tavpcfsdcqmewy2qwxnz7yzrx2jrz2aqf6cavvcgumu3nplvnxxzfjr3tcwgxsrtpacz4fnc7sn5fwh0t04ztggcvqq9t2pl

Pioneer
1018984763291340840
addr1qxugcvlv9mcm8jh2vhw775fh6tseflq44cs5d37c33za6hhj5nmqzwmxkwe39an5n7tcll6ewrnu6j5u5qm9h742gnrqkjf47x

Pioneer
1018984763291340840
addr1q82qd5v2ja68anwcj7ejsyq6lny0r7nnlphv8ums3mwwyxqewgtlpv3pzgyxv93x3spzhvzuydutc4pe0d0tday7498smhnzza

Pioneer
1018984763291340840
addr1q90jauzt06s5744d4yh3xurtej5l6fp4sefpgwm3d0je937r5r28hjn6ve5vuxtmv2xvm9s5zy4jfct4euk3egaucwaq7720an

Pioneer
1018984763291340840
addr1qyq0yjp5ppgclrmhzpa509vh3g3a0c6pj7p6rtw3wxnsuq2qf6mqwg9qkc9fe4aj93qkzx6u53879e0advk20desl0usfzvy63

Pioneer
1018984763291340840
addr1qyh30k4r2h3npmssvgy8lhupwyh6vstf2ec6dsrpw72zhqtmds2cwdf4k0hq4m0jmtr9n44gm73z96uscmltut9jl5wqxpdhra

Pioneer
1018984763291340840
addr1q9wc2s22exh50rh6aq60glvan7jq43jvey7m5gxpgs0wc5y5ax5y0y3uj37wcungshfpefswkwc4qcjrzs4x37j2s9xs6nwdpz

Pioneer
1018984763291340840
addr1qxkeqmd7a02z0j7938mwkvph6ta80u4ppzzl4ty2rg86pxcxqep7adn8k8pqp7x7fxvyrn7dfaa42ls38n8yesh3pw6skcvpr0

Pioneer
1018984763291340840
addr1qx6wl8r6q9qs8kjv4afmlhh56hjmu56gjt824306f04lmm6298nglwd8y24daqvd90gt044p88dyp808f863hmxghvhq9ky8c0

Pioneer
1018984763291340840
addr1qyk27k77mjy705jlx3qzelm39vxz4kl9pfn20z74mrf4qeyecww7pjn4lxjcrmtpkn4466cn2z5wtelzu23kefx3nvgs8wf522

Pioneer
1018984763291340840
addr1q8tw5zk6k4f5vyghmgf69hgnln0uyswye4j07szdyajrths5xx6jgaanchdswkhgzdgrafw3rjqcmp3327z0jktrxp8s8mj8cw

Pioneer
1018984763291340840
addr1q9pmd0xpavxw8qu8lf3xw2yt0qlamdyclrqsga4vrlm9x02tq70940u5gagt3a0cne3ean6aj4ey0pvgssjycr2wge5s34nx9g

Pioneer
1018984763291340840
addr1q9pvr96ayzxslflm55lfl40z8xn989kz4gmp7utj60c9vfj3n6nw3ldgg7prj7vcfaj97ehzjehw30qcd40pccteryjs4vw7dh

Pioneer
1018984763291340840
addr1q83kmqxvzszj0n9yvflvy30zr75uuhjp3lu6xww8rjqwwkuhw9spdzeuudlwwd05a9l2qu3fze65qljwndpxzglzrn4qrrqenv

Pioneer
1018984763291340840
addr1qx93xx5zlqrqdcazprl7jcpp73eg85etardx830nyyv83kmfm0en7wl3r0ddnq0e3vevltc9y7f7w2qpd0t85wknlr7sjr3wcp

Pioneer
1018984763291340840
addr1q9exkpnhpch98a890nsrqgczy4dnqkatflxkajzw4f627deqapdc2sp4x5e7eglhtn4pm2g7u9ka30hh4nx43ztwxvwq2s77ze

Pioneer
1018984763291340840
addr1q8zsyahx9d9xvdn8wz0sdkfk7gx0ajklkr07ggk9d3ssre6yg60zdj82sg54zu6q3msllj0xfxftdldym59m3yremu6s949nle

Pioneer
1018984763291340840
addr1q9q3nnpdasxpltzu2se2pdmcuc3w6c3tren6mwfw0vxvrd288v3zt4pszrdstfpq59tcf8guy06fd8pcu889nsff2lpq9ykgy6

Pioneer
1018984763291340840
addr1q8y4g0x546hu05h4r0tvxgd3etwzd9t807l0f7g0klmx0vdrc2szleqdk6a7l84qkvpy5fw2nx5ktl7mjj067ld23gtsv7pzjt

Pioneer
1018984763291340840
addr1qy334qhmssvx8a9yqc3ugnmudev0jq5elyvrznux5mmac435z9dn79ttcyy94sfesk8ud2am2e584clcwttauhyph6sqnfzt2c

Pioneer
1018984763291340840
addr1qx7casgeugwmn9fqj7ceywpjw93zzrp2qakpz8fzmapa4zuda9p3az2gwc9t3qz5mku04tz43de7p8al2yldn5eprj3sn9amgf

Pioneer
1018984763291340840
addr1qyukxukh6vjn53h9kwh0z69jafvp50frqhp5x35gyt2z7kuqmcnsp0g3hfgpsmkuuc6745f2trurfsen2a5hwssce6zq2v70kc

Pioneer
1018984763291340840
addr1qy7t7s454l8c0hpsn5eu7nw45yakadv4555ujkvz6jfps6xnd22am0vjweays8jut0lmhndylzmtwk0und0h7evhhykqqqyyqr

Pioneer
1018984763291340840
addr1q9asasnr405kweymw7vnfr7lwgcclx2c2v9dugcyxlz7ze9yzth37uly3gmsgmll32wd8qdr25x3hcu5xplmjvsp72vsd73exc

Pioneer
1018984763291340840
addr1q8uq3m3l75vd9kl7jqwn3x52ramdd0w4szhlvvyfn76g42uny0x82lk4h03rkaqzava3ws44l6aq2f5clfdlhpz2l0asn4xa3a

Pioneer
1018984763291340840
addr1q9psfh4vjk0z8y8gjludjfssk50wew0rt0zckdqfx8fvufyt8d20ydprf4vynqvuva6v5qj2wnavj0l4q5qgmn3dyyvs36yvcd

Pioneer
1018984763291340840
addr1qx4m7rtyzjr4d33ur7tpchvzrv5qlkzw0fyemvwuknpz5h99ntgk3sfchm6jan4rk5pq8xqtrzl3xaaq7nhxrpqfmlhqtgf64g

Pioneer
1018984763291340840
addr1q8jq7cq7lnjm42k3s9e206rexaassvxcsnmd64tqzrd4e5tvq99w22dr0svpx87c3ej4cjvq96ckrjyxy7s6u528pyhqe5vuye

Pioneer
1018984763291340840
addr1qyqsan3976vccrlh3fac0huuthmmrfpfhdjqya558ra4c60xcps2acjjql8n6vltkpl2auz8xvgm7jwyycd83tauc9equ4640u

Pioneer
1018984763291340840
addr1qxxpxyx7k7r94z9g92zvfavwrg08j43gnsz7plnrvccwg0h33r3h9l6ud4e2s3ylvknvgwlc06x7vwlktq68nr9vu92qhtxype

Pioneer
1018984763291340840
addr1q9jq43jkdcarxzejr4phpf2xhydyljn9d6hx3vycjn3sjsrdtz3ld5ekku6s5wkn7kahyug3sxkgekn0jwe3j84wa66s7msj9v

Pioneer
1018984763291340840
addr1q9h7hpq3ule648g2smdyyxylpqxvd4z7jtr5ujxh254khw5c6k6tkwznqhwyvcst0sgpverx2cpzl20kdvxy0me75rns4cqxnq

Pioneer
1018984763291340840
addr1q9cuw58m95q238grwucyah4ugkx9hemgeqqy90q8werlm5qkfss92t3lszq95yusaq4fcvt2yj5eg5k7freaa4geecusvv8u6z

Pioneer
1018984763291340840
addr1qxkpk3r3klxvugyyu78vjms9rk4kzhnnl3pe44f5xt78w00ddgky4h7k70drn232axddk0kxe67lrhzmpjr006cz9g8q0zd883

Pioneer
1018984763291340840
addr1qyf04vqhlzeyu3xg8mwj466mcj8ge9ynn7k0y0cjek4ca58j8hx2xuqh4xhz87fsm7mtj3xth3rkly02czgq84knpskq5mwes9

Pioneer
1018984763291340840
addr1qysey6zggg6u789pdczfqqwdxq3jzlndwygepwmqum2xemv5vq6kam9dxx24uwh5ygqqw2he3p588rhdcm0t7ncl3e0qvgwrvg

Pioneer
1018984763291340840
addr1qx4nx953qtjlg97uc57lh5su2s24kdwq6r824tnang93fzfpdq5c96kkhlaa2ljmuvyewn2p5qycl2tpxl4m3gzq67lq5gmfxg

Pioneer
1018984763291340840
addr1q8lsyj7z7wkuv4waqrnf3xxyky7uge0wef0n9gcydfcu4vr5h0qjnnmf4v6mp2nuss06jks6k42ec2558hx5639ehkzqevuulg

Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
Pioneer
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
WL
1019005107800637490
addr1qymz6qnsxtkeym6wswfua36pr3r8360hsm024pfnx90cdy0k05leh32x7kncp225reclrhljyv5qxtaprswcwgdspxcq9ffem0

WL
1019005107800637490
addr1q9u8d5xk66x6428h27lj3wkxddxzu8fezzvlrlcqkecw7zv688e2yk7wjl05cnhhncme4ut2ackjgaj7ye07dlrn4phq6j8g5q

WL
1019005107800637490
addr1q8k03z8qj7ds5qdxn8wxaxklrh9umlmexjq2zc2u4qyvuvlsttr8006us3pc562rfg09rcywna54gr5vxzhdudd6pmysmwhtqw

WL
1019005107800637490
addr1q8rumzs46y9pshd3jh8n220cyc8nru7m8wxgx800mkdq38a9wfqqaae9gq9k7rgd2fy2w83y2tlpqmp4sn3xvdd5jrpsxq7dnc

WL
1019005107800637490
addr1qyyjyhs6w6qshssjnvcfz3ng8grark49tjm2zxjdwjcay4az20k3ardqqskyyxt4p7tas5p40jym8v0spuhkzqgpvcnqf7mdpq

WL
1019005107800637490
addr1q84yz52epv84al32nfw48azagf8wshdte6q2x3agujdywkuuzxs5wk9cnafyf3tyhxrduu8up35nxl8mqr6gqy8spcesx6jffy

WL
1019005107800637490
addr1q832w943fsvyetp9pjawcy04du4cgpajp9frzw9f03r575c44deys37ms2jmnjnrl7rf35w7kdevg8hqs9xdflph7tmqeuvj7q

WL
1019005107800637490
addr1q9fgtwu6ctg0dtu8wg3xuuzr3hetfc46lkdtttxusknezeqgfeu8c7cazn2p0fq58r0rppqe5r6w94sk5fn8v4a7zlwqedshj6

WL
1019005107800637490
addr1qxgwaj7cqzs50phl6qykn6cwfmly2jp72kfsnke7ehe2cgy3reh5k9pp2dr65rjdtrn664v7yjnck992jm6lldeej0lsn4t7f3

WL
1019005107800637490
addr1q9l6vle7asmn2k4jg0azmwdcxuvn2ahy8te3tzj4msps7mwc030tfxmur2vhhrsc2ky444ug7k43sem5mw4vu9mdls7qu503mm

WL
1019005107800637490
addr1q80e4w7nuefspypyednktndx87fmx3tv8j96vlpt8fyapsqavsu03zxdl05q249k9tg73yns6yavtgjxn7q75fxy9wrsh2zkv6

WL
1019005107800637490
addr1qy7plf3z5pnzg9hau8nplnjg2k83m00nsnsvenr6vew3w4hq02p3x4t5tq3s6f6ru8x27g32m7aezhy9kg7dyh9hlgqsmhx09e

WL
1019005107800637490
addr1q9nszlzzhtd8xu42xluntclyw3qupm8dzguyqqcsu59j6yx808tu0j9j8ra8wypd23296gv59ynxquyd402gws4xk0rsqd0tan

WL
1019005107800637490
addr1q9q0zcw0gkm7srvncg076n43p7uu2sr6tf5qd697wp7h75huqzpxtsdeqsz7ztxdj6julfv8ypwhv2a7rw5kcn257w4q97v4az

WL
1019005107800637490
addr1q8tjjzq42g94hp7tzsdpw4f3czlrddk6rsmkvyeudnhzyac7f04uxj6ln5xye9eel6jffz85k5p0nr9ufym83llu6z7q4qke9n

WL
1019005107800637490
addr1q9dgmqgdsp4mt9nqfgk8pdqc87k05408wdsrghd4cgjmum49c5hp9d48xc5c3eqc8z038ca9dn4zzmlyyxhlrfhe5v2s9j3hfg

WL
1019005107800637490
addr1q8zzfa3fhwtjx78987cvuvpxfdxk4tfd0ugcm2h2f0edvduk6pv0ac8zpvce666utda3n3yet7823l5admt3pm5xptcq9th5nf

WL
1019005107800637490
addr1q9z39ts6vtnpljadgjn974p3q38vl5fjugj48afc3r6343r5w3t44t84d8l6a4mvgwqtqa94muwc3ydf6sjq9u3qfkysmmsv2p

WL
1019005107800637490
addr1qydm7eqvn9a87umenaut880wn7zm39d8hqpt9vzx0sswejn7zhs8t4hke8anv6mt6kze74h6ysz4e43jp369lf95lzzsgzh3ny

WL
1019005107800637490
addr1qyvy93xgarlzw2d7h7ruc6800npm4trrqlfngxdktcy02mp25r5qsj0a9rrjyjj0ev4g6uvm4keuqkc22m0p6kqnz7js2uvmvx

WL
1019005107800637490
addr1qymx7572tdj0y7hcwakj5cqdsnslwywaxpjrzj6zaq64y36r2dp74l8ppd7p2n9dh3w3h5s3ukf50vzqnz7ydksx6srs6rzmt4

WL
1019005107800637490
addr1q8c72fcc0wttustjr0g879dpcn93v9fq7ptq34vctune5rmne4ehcuzgtsfcqgvct6wvmh50p0z9cjlqa5cptty4v5dsycxrxp

WL
1019005107800637490
addr1qykq48yw34h77a3dkagfunp5zx33z92422kgvh4kmasufrgcc966d0xmupw8dtdjcgm53h4pgacscpncfjpj84pgvvpq6sfats

WL
1019005107800637490
addr1qxeqrx82g8m4gge3fagdu5wm0j86apmuwaft6myzn40l8euu9l9rqt3mpdhgemkwfh4duzvds48jac4sfdkfe0gqufvsev7562

WL
1019005107800637490
addr1q97t539ppna20ap4wvrh0kxw26jnjlr6sttlzqfxx2vuywf7qetn7kx5hjafeuuvnel7u3ph0cupjat9cxr3l93rgkpqx2357r

WL
1019005107800637490
addr1q8xd5ldatm858ffg70fynjsya6ajje2uzx0d040vrjv9u2q7kcq2792cxs93hsh573vsdutkl5tn8afmnhjtwchqykasrdxsvn

WL
1019005107800637490
addr1qx88nv4awpeckt8fsn5p7z68gha0xd7wqrny4k0cjug7me2q702flup5n29c7anxy32dhj2k2t6msh6aklnf2m4d05lq8ukh3n

WL
1019005107800637490
addr1qytcg742r684qsw4tyf50f3n06ve96c02e0hyh85xxg4tz3jtn9swdaherysaxkwfkrplzn7m34mq9qdjfap27fwd3aqm44v3j

WL
1019005107800637490
addr1q9rrfvvtgxk9nf4z9l99nrpmk77c5pe8qjy06ks8clunw9jrrw0ay7kjpf5rd27tp7p3qysdn629q25arslyn40g32ys6zwmru

WL
1019005107800637490
addr1q9waxzs03ykkhqvu3ngeeasg9ucau2k9k73zyqc9m0l6r2q5qd7n3yeg49x403agznun75ey0pmmpz59d9qq8s9ksjss0u9gf5

WL
1019005107800637490
addr1q9804s55txmtvd9fgzjk48wg23etxzcrjknk8uwrla5gcmfhga0lmh9htz9lad0ry0vhv29f3hk7csv0rn5segkp7ums4efakz

WL
1019005107800637490
addr1q9alnxernxryhzdh28ewdh8dfa2yv7q94humca2vxaa0fxzuuycwmttssyymhddve8nfur0y5g4zngs7rqg92w3w26vszr0l6f

WL
1019005107800637490
addr1qytnr8exr827mq7eayyfe70wvcu2zp0n4p9vzsc8fmm6kg6zjptal4xxn8zufx69lxvnk4a8g6w7zxlpkdw05h2etunqtr3unw

WL
1019005107800637490
addr1q902e3kzu85ln2w2cvhlakjh7c8enghkrurhqflgsgq76xytwg94dwglhy9ys4j77ncuymymrnvvq6v68ucqpp8z7vwswytl2s

WL
1019005107800637490
addr1qymslgq6x9r6kk8s0tam62chydkuy7ez66gt9lk9355wwxwy0t098xk2ets0c4ch2wyep4u3hlpc88wdle0lzc37neuq7y6mgh

WL
1019005107800637490
addr1q8q2hz27mcqn586vqsjx3hfefha5w0cyz98z09anjh6etmzcsxcus7gyxqfa87fxx23ty5xr23fzr9zavmqqdyaxkumsqse9cx

WL
1019005107800637490
addr1q8w8z79favc2nwg3wtfwzkxk34k4cyqfpqhvwdu69fxkevmfdfqq9u9quws3ae44vd6kxypaknn6dgj5f7udyrmjxzsspesku2

WL
1019005107800637490
addr1qyadpydfu4qzqe2hcaq4p97g8jcpjgke5qse9vf2q683wmf50t5dy537mpfhn7utdw9uvsertcg0zmv5drea8tfz6scqcdlx54

WL
1019005107800637490
addr1qxm0s7g2da5s3c45qpj8zu0vn09sj5kncup28rrvprnzv7c79lrqzr3pwnn5vh6nkz0eqppcp37kyy7j3qvseyus8zgqxamztt

WL
1019005107800637490
addr1qynwvswc4vnxyhk355u92eer6duega07k3pfrm92tma3ql8dm9xnxdjyftsjrl8yzqu90eenpyac52lfgsf46kkkmx3sjzkynl

WL
1019005107800637490
addr1qx3e3zsgshs7fwy3hm0jev2f7qpx9us80w4wvddzx7kty6e8c6zzzc6hc6lnxyu6m5nq8g5h3gh57hrn0puh7qk8vrwqhgpp95

WL
1019005107800637490
addr1q9p696qveyfpnvcx5pwce73qjuc7yzhcdgp546n593g7sgm6xwnakhehvaqccajz7prwr9snce06e2vmjrlrwm8ak24sg9n5df

WL
1019005107800637490
addr1qxrfp78y6tmznqadj0d7dkwntaupuu4rm8mprahs2mdncttg6le2kdrn7unms6gzd6kuuedtc08vz4n0pkmy9e56ngwq8eyhuj

WL
1019005107800637490
addr1qyqgfjptaumk8x200exfusnmwjy227cw6qaxz8k0dzwzskzx4lhp7d2606uaupj36jqn4xkjc5lz7jf720ffwa0uuvks9pe4yk

WL
1019005107800637490
addr1q8hzdn5vyvjj76egdwavgrawy47mqv7fm2gyl5gt52avyzzh8dv2dk4wxzlyugfeyq2wew6zlvpxcs4f4fe4zqg3cx2qrwzcd4

WL
1019005107800637490
addr1qy7rs4pf742s9k6p4ew2w2dplu8nlr35467uqk9xnfkekg884jqfuwdyvmzmvtf4mffls5c8q6u8rhd5glxpwljp9ppsxmjr9k

WL
1019005107800637490
addr1qxtmtwt73pl35r537ljk9xu0xz4evmdwzcqpaz75nuqtjt5sjuyxga8tez99uan2kpws62tey7l0x4e3rgulc326zc3slfj38l

WL
1019005107800637490
addr1q9fshs08h3zyc6xa229q7q3fpgam6zd7zhlfgwpygzt07aq0aqxdgmcryd09skn386f9k4qrdflm4x7l0v9pgxfgcvns3de70v

WL
1019005107800637490
addr1qy02sq8carpuknh7wg79qyutx4zug8erq2mr0xg2yvym0pqguf44j6h5c5n09ruqsf8dwpayxeas626vxn4lmpjd549q9hv33k

WL
1019005107800637490
addr1q83hmeqn7l3rdeygrfs6qdx04mr9z89wjd59ucyy6sq6xlp9y243w7f7y2cznx5qyextp7s06548mc3cnn5glfw23a7qtzuksp

WL
1019005107800637490
addr1q9790n9cvm8qhuazqj59sz080wx9ct0u2eq9dppl0alkzugwjqeh837anwqfsr3jsm220clc9ftdemfhysn63cdpx6as9qcyk2

WL
1019005107800637490
addr1q8hykrucu7qv2elve9f2fnapth89mlrjc6dmy4fx6cl5u703yserwf07ey9dupmpq59lvzdcewesvl5fl44wlxvhnmzsmxxfj2

WL
1019005107800637490
addr1qyw2q7032u8k8dg37sj2g0537s97e9r0fjn0r0695pgsv629czkqpj4xdnm62e33pr2z7frrvzt00065esmf2fz8938qh0rnx9

WL
1019005107800637490
addr1q9c9rt3mkf277cz2x6ntxmmcvq0tyj4f7vunmsznqy2gtgsj0gnwhmc807ld5x2h0j7v2y9twl9zldnuf9d2pe9rl3mqd7m56f

WL
1019005107800637490
addr1qxdpa8uxlmlev7dglu9mn7esupwwmqhmwvd9c074xjtvz33s4uku5hr5va9942tv96xmqxl6d4ah3k57nljrfjjthymqgqk9ct

WL
1019005107800637490
addr1qy0ufhap8a8cmlsqg7m6pe2v56e2zgfpv22n7eu0tktq6squefcpsu7jrke430309r8axe0yk6pl8vd77gg09mq4wv7shuxx2r

WL
1019005107800637490
addr1q8w4wm6a3hy5k5qftfe32rcjfqypheukmvmlpcd4eh3uvqsvn5e97jp475zlaqzewrh6r9h0j2j2qpm7gk9l8rh24slqpr4kh2

WL
1019005107800637490
addr1qxxrty2aj8nldjcla44jpy7mhx5aqn28rtzx53vnqprmh7yew42haexf6u8tvk6523lswszfxfded98lsy3l59ysyppsw2ayj0

WL
1019005107800637490
addr1q8tuvz5f46fmass7rqemgqm0437g5gkafmvfx6su08ly6h7mvp067l3mhvj2ect2h25hhum340r04z8w77efc7d75q3qn4gtwc

WL
1019005107800637490
addr1qxtjz3e3mk4ev4pzalyzpvglf3th0rq2djp63x0hk30mtr3cnwyccyk505r7pm59zkh80u2mut0vm4pgzftyymu70vdqdse0lz

WL
1019005107800637490
addr1qx9yx7gc36e050ykpcgzsctsck5qvvcvfgh6d73d0ggz76n8d3ufy2u8kywg03s8zchvqrm3exll9nzleydm7jctt0ls4ls7f0

WL
1019005107800637490
addr1qxcundetg2gzulgdljny6cllv8naqzg7p30fyms28f5599fdjhp0crlddayvaml9fdwew290lwcz0jmvr3c969umsqzqjuwlq7

WL
1019005107800637490
addr1q9hps7stguxzreh3v2mxgvl7aahf9p835vqcvmldgy0er7sjdapturp0qen6ya3yskzvgfcaftwsuu5sh3p4hheg6raq4nckuj

WL
1019005107800637490
addr1qxpwc3xnlnuxlp6dfxftgqk0xnhpfjajetles2cv99jeua53uyv0m8yq8a9ew7t8zyf4wy9ljwnxzu2qqqdrmf2t8j4qh3xz3t

WL
1019005107800637490
addr1q9zwm8kp7f7hrjnpag3dv27len7hlg0d9e44vtmsee8h2h8hka379athnkczxsk9l2q064000e8u4m5crd0mskztpqksm3su9d

WL
1019005107800637490
addr1q8w8teluan8ma3wzuez78344lhsn8n0xgdezsvzesw46s6mm5r2gjl06ya2lvemuklscau7lk9mp3ayqxpteszv534dscl0the

WL
1019005107800637490
addr1qxza4e30dfedcffh5glvs5yly3k5hu0987gxzdw4xam2hfc9lzjx57spyqspkd4qssm25fh4qym22hmhs34xwvfv7z7swpvc2d

WL
1019005107800637490
addr1q8xl09uxrgwupkj0e6z62kh6jwttz88pwlkw5j0jk5redmm9yu5tecc6vm9vdhmszzwwh009sx2q4myxl9s8qwfh883qx5rekc

WL
1019005107800637490
addr1q9wvenfdyg35zp0yrthkgal4hfsv28sz77ayc806ds0lj2hcw20dg2kezhqclhy53zf8h7m5let7nkm9zn5zlc5wtyvqurkkfc

WL
1019005107800637490
addr1q9ez4c90nupe7hfqjtfuqyhdrpceupevmw69y673hptenvvzn6379sj2xrs7yfwfretrnalfjjj2r0xs4dcvthhzx6kqhrhgrz

WL
1019005107800637490
addr1q9ej9q7q4pfzyshhwzue4exctxwszxw6v8k6mgqahta86w35l3v9rdmqfn5dl43qc8d3wden8rdk3j49ysqpwx30lh6qucknln

WL
1019005107800637490
addr1qxkhu7aa7fk7ve6c79ydgmgkcsk2pj30zxstq7xkpekrfwlg97x7syusxcx53w6wuzp9wc3rgrfrx6sevvz8xk2xqm6q35r6he

WL
1019005107800637490
addr1q9qsdf6e5r967hgn6vsxet0cvy75qveykcpyxxu4wmdnsjvlvhysppvulkq0cslvgtjn0atz5548g28xn8yttvtemeassrha5a

WL
1019005107800637490
addr1qy726l6lvqxzsd4hkuzl3597yy6l4fxpp9dmfdk08eau2qm080jk4yy4m7qak7rwte7ua7gc83hshzn23aaf6ehgq6csrs0skn

WL
1019005107800637490
addr1qxs27wu62k570scvvx5m5llj2uf95gtay2s93kgh5f5n4p8p7en4n9hw6vv4h9yv5nek3w3farsg9ezuh6nz2ytl0acsq8sfmp

WL
1019005107800637490
addr1q97hutp868yl8zj9r8wn8kjqrqzz9n90alv59fr2dedlzz8l6efp5qas3zd0sm600cq84p277jmq9z5f2j8a84mhacuqmt66vd

WL
1019005107800637490
addr1q95rnahjnd9zrwphfdkyfq7xlt2yj6d0yksf96ag847xs5r9s9jpcx895nndd2ffamymhgedmxx2zu4lphk42q9rw46sqq55mn

WL
1019005107800637490
addr1q9yf9mhmdyzmrsj5wmhcte0kyrs6uq52recgxmm5z7xkx4jr5wmcyy6ymydkd7qlr8jhgphrhguak9hemq5jxecu85gsrq6kaa

WL
1019005107800637490
addr1qyv3ugffhq7y9379yqejvv29kh92l9zasyte6ug55z9na4hv87pgyyguywxrxhgqvahqcejf6pnhggsff8yc8z87e54qpz0lsc

WL
1019005107800637490
addr1qx8v3r2sysld6ducll97vv05qwnekg6mzlq6tmls5g0jxrnymfwx2vyhp4a7y0gduqpgwx40cqhg8ajngc3yvqgdycnq5kv52n

WL
1019005107800637490
addr1qxk98e8tkwfe9nkaqk0q3jjrllq22dej8h0qj0hc8jytl4l5zky858gzea6fqznmsu2qvpxc5l9l5mdscu64wsfc46xqt69wga

WL
1019005107800637490
addr1q9wjqqgzhnqcjsfgjgvkesf6fapgk3esn0xv0ew532x9qvq46xcsphe9wlv9mes0uz9v9q8zcjzww55jfaxyce0zlwlqwva0u5

WL
1019005107800637490

In [21]:
# indicator = "atr"
# endpoint = f"https://api.taapi.io/{indicator}"
# parameters = {
#     'secret': ta_api,
#     'exchange': 'binance',
#     'symbol': 'ETH/USDT',
#     'interval': '15m'
#     } 
# response = requests.get(url = endpoint, params = parameters)
result = response.json() 
print(result['value'])

TypeError: list indices must be integers or slices, not str

In [27]:
import requests        # for making http requests to binance
import json            # for parsing what binance sends back to us
import pandas as pd    # for storing and manipulating the data we get back
import numpy as np     # numerical python, i usually need this somewhere 
                       # and so i import by habit nowadays

import matplotlib.pyplot as plt # for charts and such
    
import datetime as dt  # for dealing with times

def get_bars(symbol, limit = '1000', interval = '15m'):
   root_url = 'https://api.binance.com/api/v1/klines'
   url = root_url + '?symbol=' + symbol + '&interval=' + interval + '&limit=' + limit
   data = json.loads(requests.get(url).text)
   for row in data:
        del row[5:]
   df = pd.DataFrame(data)
   df.columns = ['date',
                 'open', 'high', 'low', 'close']
   return df

steemeth = get_bars('STEEMETH')
ethusdt = get_bars('ETHUSDT').astype('float')
# steemusdt = steemeth['c'].astype('float') * ethusdt['c'].astype('float')
# ethusdt['c'].astype('float').plot(figsize=(16,9))

# steemusdt.plot(figsize=(16,9))
ethusdt
# steemeth

             date     open     high      low    close
0    1.666930e+12  1508.56  1510.06  1507.47  1508.55
1    1.666931e+12  1508.54  1510.00  1507.28  1509.39
2    1.666932e+12  1509.40  1510.36  1506.78  1508.24
3    1.666933e+12  1508.23  1508.25  1501.80  1503.54
4    1.666934e+12  1503.54  1510.30  1501.71  1507.45
..            ...      ...      ...      ...      ...
995  1.667826e+12  1584.50  1589.73  1581.28  1583.29
996  1.667827e+12  1583.28  1584.58  1575.31  1578.31
997  1.667828e+12  1578.31  1581.24  1576.73  1578.56
998  1.667829e+12  1578.57  1581.93  1576.14  1579.30
999  1.667830e+12  1579.31  1580.74  1577.24  1577.72

[1000 rows x 5 columns]

In [34]:
1664229600000 + 3600000

1664233200000

In [33]:
1660633200000 - 3600000

1660629600000

In [44]:
# url1 = 'https://api.binance.com/api/v3/klines?symbol=ETHUSDT&interval=1h&limit=1000&endTime=1660629600000'
# url2 = 'https://api.binance.com/api/v3/klines?symbol=ETHUSDT&interval=1h&limit=1000&endTime=1664229600000'
# url3 = 'https://api.binance.com/api/v3/klines?symbol=ETHUSDT&interval=1h&limit=1000&endTime=1667829600000'

def get_bars(symbol, limit = '1000', interval = '1h'):
    df = pd.DataFrame()
    root_url = 'https://api.binance.com/api/v1/klines'
    end_times = ['1660629600000', '1664229600000', '1667829600000']
    for time in end_times:
        url = root_url + '?symbol=' + symbol + '&interval=' + interval + '&limit=' + limit + '&endTime=' + time
        data = json.loads(requests.get(url).text)
        for row in data:
            del row[5:]
        df = df.append(data)
    df.columns = ['date',
                'open', 'high', 'low', 'close']
    return df.reset_index()

get_bars('ETHUSDT')

/var/folders/2l/h2r8kh1x2jx7lbwdk0x41gp80000gn/T/ipykernel_48189/1687454806.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

,index,date,open,high,low,close
0,0,1657033200000,1093.38000000,1095.08000000,1076.34000000,1092.95000000
1,1,1657036800000,1092.95000000,1103.50000000,1088.28000000,1095.60000000
2,2,1657040400000,1095.60000000,1107.41000000,1094.33000000,1102.68000000
3,3,1657044000000,1102.69000000,1128.00000000,1099.44000000,1127.51000000
4,4,1657047600000,1127.50000000,1152.75000000,1123.82000000,1146.53000000
...,...,...,...,...,...,...
2995,995,1667815200000,1564.10000000,1584.56000000,1563.88000000,1578.54000000
2996,996,1667818800000,1578.53000000,1582.02000000,1575.66000000,1580.00000000
2997,997,1667822400000,1579.99000000,1585.02000000,1576.48000000,1584.51000000
2998,998,1667826000000,1584.50000000,1589.73000000,1575.31000000,1579.30000000
2999,999,1667829600000,1579.31000000,1582.60000000,1575.00000000,1578.70000000